.header-form {
  display: flex;
	width: 30%;
	margin: 10px;
	height: 30px;
}

.header-form input[type=search] {
  width: 100%;
	font-size: 20px;
	padding: 2px;
	color: #474747;
	border: 2px solid #474747;
	border-radius: 3px 0 0 3px;
	outline: none;
}

.header-form button[type=button] {
	padding: 10px 20px;
	font-size: 16px;
	color: #FFF;
	background: #474747;
	border: 2px solid #474747;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.header-form .search {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  width: 3.5em;
  right:0px;
  top: -3px;
  outline : none;
}

nav {
  display: none;
}

#navbtn {
  display: none;
}

@media screen and (max-width: 480px) {
  input[type=search] {
    width: 180px;
    margin: 0;
  }
  .header a.logo {
    font-size: 18px;
  }
  .btn-header {
    display: none;
  }
  .username {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 auto;
  }
  .header-form {
    display: none;
  }
}
